<!-- <p>receptionist-sidebar works!</p> -->
<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="/receptionist"><mat-icon mat-list-icon>home </mat-icon>Home</button>

        <button mat-list-item routerLink="/receptionist/profile">
            <mat-icon mat-list-icon>account_circle </mat-icon>Profile
        </button>

        <button mat-list-item routerLink="/receptionist/doctors">
            <mat-icon>list </mat-icon>Doctors
        </button>

        <button mat-list-item routerLink="/receptionist/appointments">
            <mat-icon>folder </mat-icon>Booked Appointment
        </button>
    </mat-action-list>
</mat-card>